.scrollcontainer {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollcontainer::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.scrollcontainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.image {
  margin-left: 60px;
  margin-right: 60px;
}
.tallerContainer {
  height: 100px;
}